[submodule "DLLAnalysis/binaries"]
	path = DLLAnalysis/binaries
	url = https://github.com/jchoi2022/NtFuzz-binaries.git
[submodule "DLLAnalysis/WinHeader/HeaderData"]
	path = DLLAnalysis/WinHeader/HeaderData
	url = https://github.com/jchoi2022/NtFuzz-HeaderData.git
